/* CSS that pertains to all of the screens */

/* Settings for ALL of the virtual screens */
.virtualScreen {
  font-family: "Space Mono", monospace;
  /* font-weight: bold; */ /* Though bold matches zoomed in picture, normal weight looks better */
  font-style: normal;
  font-size: 30px;

  /* Even using bold, need to add letter spacing to Space Mono to match the actual NerdSeq display */
  letter-spacing: 4px;
  
  background: var(--tableBackgroundColor);
  color: white; /* default font color. Should be overridden with a variable color */
  border: 4px solid var(--borderColor); /* The border around the table, not inside */
  border-spacing: 0px; /* needed to remove extra padding */
  visibility: hidden; /* default is to hide all tables */

  /* So that can specify borders for entire rows in the table */
  border-collapse: collapse;
}

.screenTitle {
  color: var(--titleColor);
  text-transform: uppercase;
}

.label {
  color: var(--labelColor);
}

.columnHeader {
  color: var(--columnHeaderColor);
  padding-left: 6px; /* even with text-align: center some left padding is needed to truly center */
}

.rowHeader {
  color: var(--rowHeaderColor);
  padding-left: 6px; /* even with text-align: center some left padding is needed to truly center */
}

.rowToHighlight {
  background-color: var(--rowHighlightColor);
}

.help {
  color: var(--helpColor);
  text-align: left;
  padding-left: 4px;
  padding-bottom: 2px;
}

.widerBorderOnBottom {
  border-bottom: 2px solid var(--borderColor);;
}

.widerBorderOnRight {
  border-right: 2px solid var(--borderColor);;
}