/* CSS that pertains to all of the screens */

/* Settings for ALL of the virtual screens */
.virtualScreen {
  font-family: "Space Mono", monospace;
  /* font-weight: bold; */ /* Though bold matches zoomed in picture, normal weight looks better */
  font-style: normal;
  font-size: 27px;

  /* Even using bold, need to add letter spacing to Space Mono to match the actual NerdSeq display */
  letter-spacing: 4px;
  
  background: var(--tableBackgroundColor);
  color: white; /* default font color. Should be overridden with a variable color */
  border: 4px solid var(--borderColor); /* The border around the table, not inside */
  border-spacing: 0px; /* needed to remove extra padding */

  /* So that can specify borders for entire rows in the table */
  border-collapse: collapse;
}

/* For the symbols like play/stop/record need to adjust how they are displayed 
   so they match the font used. List of symbols that can be used is at 
   https://fonts.google.com/icons?icon.category=Audio%26Video . Remember that
   icons are specified not by a character code but by a string like 'home' in
   the inner html. Key icons are 'play_arrow', 'pause', 'stop', 'fiber_manual_record',
   'pause_circle', 'play_circle', 'stop_circle', 'musical_note' */
.material-symbols-outlined {
  font-size: 30px;
  vertical-align: bottom;
}

.titleRow {
    border-bottom: 3px solid;
}

.screenTitle {
    color: var(--titleColor);
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    border-left: 3px solid var(--borderColor);
    line-height: 28px;
    height: 28px;
}

.label {
  color: var(--labelColor);
}

/* For text that is changeable, but not directly editable. The changing of the value happens elsewhere */
.changeable {
  color: var(--changeableColor);
}

/* For properties that user can directly change */
.editable {
  color: var(--editableColor);
}

.selected {
  /* Since other classes might set the colors and since cannot set order of the way
     classes are maintained in the classList, which is actually a set, need to mark
     these styles as !important so that they take precedence. */
  color: var(--selectedFontColor) !important;
  background-color: var(--selectedBackgroundColor) !important;
}

.trackHeader {
  color: var(--trackHeaderColor);
}

.trigger {
  color: var(--triggerColor);
}

.columnHeader {
  border-right: 1px solid var(--borderColor);
  
  /* even with text-align: center some left padding is needed to truly center */
  padding-left: 6px !important;
}

.rowHeader {
  color: var(--rowHeaderColor);
  
  /* even with text-align: center some left padding is needed to truly center */
  padding-left: 6px;

  /* Make border on right wider */
  border-right: 2px solid var(--borderColor) !important;
}

.rowToHighlight {
  background-color: var(--rowHighlightColor);
}

.help {
  color: var(--helpColor);
  background-color: var(--helpBackgroundColor);
  text-align: left !important;
  padding-left: 5px !important;
  padding-bottom: 2px !important;
  white-space: nowrap;
  
  /* So that can fit only as many characers as in the actual Nerdseq */
  letter-spacing: 5px;
}

.borderOnBottom {
  border-bottom: 2px solid var(--borderColor);
}
.widerBorderOnBottom {
  border-bottom: 4px solid var(--borderColor);
}

.widerBorderOnTop {
  border-top: 4px solid var(--borderColor);
}

.widerBorderOnRight {
  border-right: 4px solid var(--borderColor) !important;
}

.borderIndicatingCanScrollUp {
  border-top-style: dotted;
}

.borderIndicatingCanScrollDown {
  border-bottom-style: dotted;
}

.sequenceNumber  {
  border-right: 2px solid var(--borderColor);
  border-bottom: 0px;
}

.sequenceCell  {
  border-right: 1px solid var(--borderColor);
  border-bottom: 0px;
}

.markingBorderColor {
  border-color: var(--markingBorderColor);
}
