/* css for the Project Menu */

#projectMenu .virtualScreen {
    border-color: var(--menuBorderColor) !important;

    /* wide enough so can handle laegest values without changing size */
    width: 701px;
}

#projectMenu #scaleTd {
    /* Need to set the max width of the td for the scale since it changes size and don't want the whole table to be adjusted */
    width: 275px;
}
