/* CSS for the Sequencer Screen */

#sequencerTable {
    /* Trying to get cells to use specified width instead of computing width */  
    table-layout: fixed;
}

#sequencerTable tr {
  /* trying to get all rows to have small height */
  line-height: 30px;
}

/* Every cell, except those overridden */
#sequencerTable td {
  box-sizing: border-box;
  padding: 0px;
  text-align: center;
}

#sequencesTable {
  /* Trying to get cells to use specified width instead of computing width */  
  table-layout: fixed;
  width: 100%;
    
  /* So that can specify borders for entire rows in this table */
  border-collapse: collapse;

  /* set for each table to eliminate spacing */
  border-spacing: 0px;
}

/* For sequences screen all cells will be this width unless overridden. 
   Note that cannot just do this for #sequencerTable because the title
   would get the width set and the table layout algo would them simply
   divide the table width into even cells, which would make them all wrong. */
#sequencesTable td {
  width: 56px;
  border-right: 1px solid var(--borderColor);
  /* If wanted horizontal borders then uncomment following line */  
  /* border-bottom: 1px solid var(--borderColor); */
}
#sequencerTable .columnHeader {
  width: 56px;
}

/* For sequencerTable the first column is a bit wider */
#sequencerTable .rowHeader {
  width: 68px;
}

#sequencesTable tr {
  /* the secret to making cells have small height */
  line-height: 26px; 
}

#sequencerTable #topLeftCell {
    /* For some strange reason need to make this cell slightly larger
    to get everything to line up properly */
    width: 70px;
}

#sequencerHelp {
    border-right-width: 2px;
}

#clock {
    padding-bottom: 2px;
}

/* To take full available space */
#sequencerSideTable {
    width: 100%;
    height: 100%;

    /* So that can specify borders for entire rows in this table */
    border-collapse: collapse;

    /* set for each table to eliminate spacing */
    border-spacing: 0px;
    
    /* background-color: maroon; */ /* FIXME just for debugging */
}

#sequencerSideTable tr {
    line-height: 26px;
}

/* Can be needed for side table */
#sequencerSideTable .smallerLineHeight {
    line-height: 25px;
}

#sequencerSideTable .alignedLabel {
    text-align: right;
}

#sequencerSideTable .alignedChangeable {
    text-align: left;
}

#sequencerSideTable .trackHeader {
    padding-left: 4px;
}

#sequencerSideTable .note {
    text-align: left;
}

#sequencerSideTable .modBackground {
    background-color: grey;
    width: 44px;
    height: 14px;
    padding: 2px;
}

#sequencerSideTable .modForeground {
    background-color: yellow;
    height: 100%;
    width: 0%;
}

/* The width should be set via javascript according to the value of the mod output */
#sequencerSideTable #mod1 {
    width: 70%; 
}
#sequencerSideTable #mod3 {
    width: 30%; 
}

/* For the trigger column in the right sidebar */
#sequencerSideTable .trigger {
    padding-left: 2px;
    max-width: 10px;
}

#sequencerSideTable .waveImage {
    border-right: 2px solid var(--borderColor);
    border-left: 2px solid var(--borderColor);
    border-bottom: 2px solid var(--borderColor);
}

#sequencerSideTable .clockDiv {
    text-align: right;
}